<a href="https://colab.research.google.com/github/ilkert08/pyspark/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [3]:
import pandas as pd
import numpy as np
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
from sklearn.datasets import load_iris
data= load_iris()
df = pd.DataFrame(data.data, columns=['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth'])
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [ ]:
spark = SparkSession.builder.appName("Python Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()
sparkDF=spark.createDataFrame(df) 
sparkDF.printSchema()
sparkDF.show()

root
 |-- sepalLength: double (nullable = true)
 |-- sepalWidth: double (nullable = true)
 |-- petalLength: double (nullable = true)
 |-- petalWidth: double (nullable = true)

+-----------+----------+-----------+----------+
|sepalLength|sepalWidth|petalLength|petalWidth|
+-----------+----------+-----------+----------+
|        5.1|       3.5|        1.4|       0.2|
|        4.9|       3.0|        1.4|       0.2|
|        4.7|       3.2|        1.3|       0.2|
|        4.6|       3.1|        1.5|       0.2|
|        5.0|       3.6|        1.4|       0.2|
|        5.4|       3.9|        1.7|       0.4|
|        4.6|       3.4|        1.4|       0.3|
|        5.0|       3.4|        1.5|       0.2|
|        4.4|       2.9|        1.4|       0.2|
|        4.9|       3.1|        1.5|       0.1|
|        5.4|       3.7|        1.5|       0.2|
|        4.8|       3.4|        1.6|       0.2|
|        4.8|       3.0|        1.4|       0.1|
|        4.3|       3.0|        1.1|       0.1|
|        5.8|       4.0|        1.2|       0.2|
|        5.7|       4.4|        1.5|       0.4|
|        5.4|       3.9|        1.3|       0.4|
|        5.1|       3.5|        1.4|       0.3|
|        5.7|       3.8|        1.7|       0.3|
|        5.1|       3.8|        1.5|       0.3|
+-----------+----------+-----------+----------+
only showing top 20 rows

In [ ]:
sparkDF.createOrReplaceTempView("iris")
query = "select * from iris where sepalLength > 5;"
sqlDF = spark.sql(query)
sqlDF.show()

+-----------+----------+-----------+----------+
|sepalLength|sepalWidth|petalLength|petalWidth|
+-----------+----------+-----------+----------+
|        5.1|       3.5|        1.4|       0.2|
|        5.4|       3.9|        1.7|       0.4|
|        5.4|       3.7|        1.5|       0.2|
|        5.8|       4.0|        1.2|       0.2|
|        5.7|       4.4|        1.5|       0.4|
|        5.4|       3.9|        1.3|       0.4|
|        5.1|       3.5|        1.4|       0.3|
|        5.7|       3.8|        1.7|       0.3|
|        5.1|       3.8|        1.5|       0.3|
|        5.4|       3.4|        1.7|       0.2|
|        5.1|       3.7|        1.5|       0.4|
|        5.1|       3.3|        1.7|       0.5|
|        5.2|       3.5|        1.5|       0.2|
|        5.2|       3.4|        1.4|       0.2|
|        5.4|       3.4|        1.5|       0.4|
|        5.2|       4.1|        1.5|       0.1|
|        5.5|       4.2|        1.4|       0.2|
|        5.5|       3.5|        1.3|       0.2|
|        5.1|       3.4|        1.5|       0.2|
|        5.1|       3.8|        1.9|       0.4|
+-----------+----------+-----------+----------+
only showing top 20 rows

In [ ]:
data2 = sparkDF.groupBy('sepalLength').count().orderBy('count', ascending = True)
data2.collect()

[Row(sepalLength=7.0, count=1),
 Row(sepalLength=4.5, count=1),
 Row(sepalLength=7.4, count=1),
 Row(sepalLength=7.3, count=1),
 Row(sepalLength=4.3, count=1),
 Row(sepalLength=7.9, count=1),
 Row(sepalLength=5.3, count=1),
 Row(sepalLength=7.6, count=1),
 Row(sepalLength=7.1, count=1),
 Row(sepalLength=6.6, count=2),
 Row(sepalLength=4.7, count=2),
 Row(sepalLength=7.2, count=3),
 Row(sepalLength=6.8, count=3),
 Row(sepalLength=4.4, count=3),
 Row(sepalLength=5.9, count=3),
 Row(sepalLength=7.7, count=4),
 Row(sepalLength=6.2, count=4),
 Row(sepalLength=6.9, count=4),
 Row(sepalLength=5.2, count=4),
 Row(sepalLength=4.6, count=4),
 Row(sepalLength=6.5, count=5),
 Row(sepalLength=4.8, count=5),
 Row(sepalLength=5.4, count=6),
 Row(sepalLength=6.1, count=6),
 Row(sepalLength=4.9, count=6),
 Row(sepalLength=6.0, count=6),
 Row(sepalLength=5.6, count=6),
 Row(sepalLength=6.4, count=7),
 Row(sepalLength=5.8, count=7),
 Row(sepalLength=5.5, count=7),
 Row(sepalLength=5.7, count=8),
 Row(sepalLength=6.7, count=8),
 Row(sepalLength=5.1, count=9),
 Row(sepalLength=6.3, count=9),
 Row(sepalLength=5.0, count=10)]